:root {
  --accent-color: #f2f2f2;
  --font: Roboto, sans-serif;
  --text-color: #565656;
  --width: 1140px;
  --gutter: 15px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font: 1rem/1.3 var(--font);
  color: var(--text-color);
  background-color: var(--accent-color);
}

.container {
  max-width: var(--width);
  margin: 0 auto;
  padding: 0 var(--gutter);
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.image {
  max-width: 700px;
  border-radius: 20px;
}

.title {
  font-size: 4em;
  font-weight: normal;
  letter-spacing: 2px;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@supports ((-webkit-appearance: none) or (-moz-appearance: none) or (appearance: none)){

}
